/*There are four different combinators in CSS:
descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)*/
div p {
    background-color: yellow; //The descendant selector matches all elements that are descendants of a specified element.The following example selects all <p> elements inside <div> elements: 
  }
div > p {
    background-color: yellow;  //The child selector selects all elements that are the children of a specified element.
  }
div + p {
    background-color: yellow; //The adjacent sibling selector is used to select an element that is directly after another specific element
  }
div ~ p {
    background-color: yellow; //The general sibling selector selects all elements that are next siblings of a specified element.
  }
//   uncomment one at a time and see the changes